<template class="task-template">
    <div ng-app="Checklist" ng-controller="ChecklistCtrl">
        <div class="side">
            <div class="item">
                <button class="uk-button side-button" ng-click="set_cur_tree_list($event, 'checklist')">
                    Checklist
                </button>
                <button class="uk-button side-button" ng-click="set_cur_tree_list($event, 'template')">
                    Template
                </button>
            </div>

            <footer>
                <button class="uk-button side-button"
                        uk-tooltip="config"
                        ng-click="open_config()"><span uk-icon="icon: settings"></span></button>
                <button class="uk-button side-button" ng-show="!sub_side_show"
                        uk-tooltip="show"
                        ng-click="sub_side_show=true"><span uk-icon="icon: chevron-right"></span></button>
            </footer>
        </div>

        <div class="sub-side" ng-show="sub_side_show">
            <header>
                <form>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <a class="uk-form-icon" href="#" uk-icon="icon: search"></a>
                            <input class="uk-input" type="text" ng-model="search_keyword">
                        </div>
                    </div>
                </form>
            </header>

            <ul class="uk-list uk-list-divider item">
                <li ng-repeat="tree in cur_tree_list track by $index"
                    ng-class="cur_tree === tree ? 'active' : ''"
                    ng-click="set_cur_tree($event, tree)"
                    ng-show="!!(search_keyword==''||tree.name.match(search_keyword))">
                    {{ tree.name }}
                    <ul class="uk-iconnav uk-float-right">
                        <li uk-tooltip="delete"
                            ng-click="delete_tree_confirm($event, tree, $index)"><a href="#" uk-icon="icon: minus-circle"></a></li>
                        <li uk-tooltip="as checklist"
                            ng-show="cur_tree_type==='template'"
                            ng-click="as_checklist($event, tree)"><a href="#" uk-icon="icon: bolt"></a></li>
                    </ul>
                </li>
            </ul>

            <footer class="uk-button-group uk-child-width-expand">
                <button class="uk-button sub-side-button uk-button-primary"
                        uk-tooltip="hide"
                        ng-click="sub_side_show = false"><span uk-icon="icon: chevron-left"></span></button>
                <button class="uk-button sub-side-button uk-button-primary"
                        uk-tooltip="add one"
                        ng-click="add_tree()"><span uk-icon="icon: plus-circle"></span></button>
                <button class="uk-button sub-side-button uk-button-primary"
                        uk-tooltip="reset"
                        ng-click="refresh_page()"><span uk-icon="icon: refresh"></span></button>
            </footer>

        </div>

        <main class="main" ng-class="sub_side_show ? '' : 'sub-side-hide'">
            <nav class="uk-navbar-container nav" uk-navbar>

                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">
                        <li><a href="#">Name</a></li>
                        <li>
                            <a href="#">Filter</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="#">By Author</a></li>
                                    <li><a href="#">Unchecked</a></li>
                                    <li><a href="#">Checked</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Item</a></li>
                    </ul>

                </div>

                <div class="uk-navbar-right">

                    <div class="uk-navbar-item">
                        <progress class="uk-progress progress-in-navbar" value="{{ calc_cur_tree_checked_percent() }}" max="100"></progress>
                    </div>

                    <div class="uk-navbar-item">
                        <form>
                            <div class="">
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                                    <input class="uk-input" type="text">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </nav>

            <form class="body">
                <ul class="uk-list list-hover">
                    <li ng-repeat="item in cur_tree" ng-include="'treeItem'"></li>
                </ul>
            </form>

            <script type="text/ng-template" id="treeItem">
                <div class="uk-grid-small padding-mini" uk-grid>
                    <div class="uk-width-auto">
                        <div class="uk-inline">
                            <a uk-icon="icon: menu" type="button"></a>
                            <div class="menu-context" uk-dropdown="pos: right-bottom; mode: click">
                                <ul class="uk-list">
                                    <li><a href="#" ng-click="editable_item_self(item)">Enter Edit</a></li>
                                    <li><a href="#" ng-click="dis_editable_item_self(item)">Esc Edit</a></li>
                                    <li><a href="#" ng-click="new_item_next(item)">New Next</a></li>
                                    <li><a href="#" ng-click="new_item_child(item)">New Child</a></li>
                                </ul>
                            </div>
                        </div>
                        <span uk-icon="icon: plus-circle"
                              ng-show="item.children && item.children.length >0 && !item.expand"
                              ng-click="toggle_expand($event, item)"></span>
                        <span uk-icon="icon: minus-circle"
                              ng-show="item.children && item.children.length >0 && item.expand"
                              ng-click="toggle_expand($event, item)"></span>
                    </div>
                    <div class="uk-width-expand">
                        <div ng-show="!item.editable">#{{item.id}} {{item.desc}}</div>
                        <input class="uk-input" ng-show="item.editable" type="text" ng-model="item.desc">
                    </div>
                    <div class="uk-width-auto">
                        <div class="uk-inline w-80" ng-show="!item.editable" uk-tooltip="appoint to" ng-bind="item.appoint_to"></div>
                        <input class="uk-input uk-inline w-80" ng-show="item.editable" type="text" uk-tooltip="appoint to" ng-model="item.appoint_to">
                        <div class="uk-inline w-30" ng-if="cur_tree_type==='checklist'">
                            <a href="#" class="check-button"
                               uk-icon="icon: check" ng-class="item.checked?'checked':''"
                               ng-click="toggle_checked($event, item)"
                            ></a>
                        </div>
                        <div class="uk-inline w-80" ng-if="cur_tree_type==='checklist'" uk-tooltip="checked by" ng-bind="item.checked_by"></div>
                        <div class="uk-inline w-125 uk-text-meta" ng-if="cur_tree_type==='checklist'" uk-tooltip="checked at" ng-bind="item.checked_at"></div>
                    </div>
                </div>
                <ul class="uk-list uk-list-large list-hover" ng-show="item.children && item.children.length > 0 && item.expand" >
                    <li ng-repeat="item in item.children" ng-include="'treeItem'"></li>
                </ul>
            </script>
        </main>

        <div class="full-screen block" ng-show="loading">
            <div uk-spinner="ratio: 2"></div>
        </div>

        <div id="global-tips-modal" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                <button class="uk-modal-close-default" type="button" uk-close></button>

                <h4 class="uk-heading-divider" ng-bind="global_tips_header"></h4>

                <div class="uk-modal-body">
                    <p ng-bind-html="global_tips_body"></p>
                </div>

            </div>
        </div>

        <div id="config-modal" class="uk-modal-container" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">

                <button class="uk-modal-close-default" type="button" uk-close></button>

                <h4 class="uk-heading-divider">Config</h4>

                <div class="uk-modal-body uk-grid-small uk-padding-remove" uk-grid>
                    <div class="uk-card uk-card-default uk-card-body uk-width-auto">
                        <ul id="config-switcher-tab" class="uk-tab-left"
                            uk-tab="connect: #config-switcher; animation: uk-animation-fade">
                            <li><a href="#">System Config</a></li>
                            <li><a href="#">User Config</a></li>
                            <li><a href="#">Checklist Config</a></li>
                            <li><a href="#">Template Config</a></li>
                        </ul>
                    </div>

                    <div class="uk-width-expand height-large" uk-overflow-auto>
                        <ul id="config-switcher" class="uk-switcher">
                            <li>
                                <form class="uk-form-horizontal">

                                    <div class="uk-card uk-card-default uk-card-body">
                                        <div class="uk-margin">
                                            <label class="uk-form-label">* key1</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" ng-model="user_config.key1" type="text"
                                                       placeholder="key1">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-form-label">key2</div>
                                            <div class="uk-form-controls">
                                                <label><input class="uk-checkbox" type="checkbox"
                                                              ng-model="user_config.key2">
                                                    yes</label>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </li>

                            <li>
                                <form class="uk-form-horizontal">

                                    <div class="uk-card uk-card-default uk-card-body">
                                        <div class="uk-margin">
                                            <label class="uk-form-label">* key1</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" ng-model="user_config.key1" type="text"
                                                       placeholder="key1">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-form-label">key2</div>
                                            <div class="uk-form-controls">
                                                <label><input class="uk-checkbox" type="checkbox"
                                                              ng-model="user_config.key2">
                                                    yes</label>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </li>

                            <li>
                                <form class="uk-form-horizontal">

                                    <div class="uk-card uk-card-default uk-card-body">
                                        <div class="uk-margin">
                                            <label class="uk-form-label">* key1</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" ng-model="user_config.key1" type="text"
                                                       placeholder="key1">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-form-label">key2</div>
                                            <div class="uk-form-controls">
                                                <label><input class="uk-checkbox" type="checkbox"
                                                              ng-model="user_config.key2">
                                                    yes</label>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </li>

                            <li>
                                <form class="uk-form-horizontal">

                                    <div class="uk-card uk-card-default uk-card-body">
                                        <div class="uk-margin">
                                            <label class="uk-form-label">* key1</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" ng-model="user_config.key1" type="text"
                                                       placeholder="key1">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-form-label">key2</div>
                                            <div class="uk-form-controls">
                                                <label><input class="uk-checkbox" type="checkbox"
                                                              ng-model="user_config.key2">
                                                    yes</label>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="button">Save</button>
                </div>

            </div>
        </div>

        <script>
            require('./renderer-process/app-checklist')
        </script>
    </div>
</template>