<template class="task-template">
    <div ng-app="Demo" ng-controller="DemoCtrl">
        <div class="side">
            <div class="item">
                <button class="uk-button side-button"
                        ng-repeat="feature in features"
                        ng-class="cur_feature === feature ? 'active' : ''"
                        ng-click="set_cur_feature($event, feature)">
                    <span class="mini-icon" ng-show="feature.disabled" uk-icon="icon: minus-circle"></span>
                    {{ feature.name }}
                </button>
                <button class="uk-button side-button"
                        uk-tooltip="feature config"
                        ng-click="open_config('feature')">
                    <span uk-icon="icon: cog"></span>
                </button>
            </div>

            <footer>
                <button class="uk-button side-button"
                        uk-tooltip="system config"
                        ng-click="open_config('system')"><span uk-icon="icon: settings"></span></button>
            </footer>
        </div>

        <div class="sub-side">
            <header>
                <form>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <a class="uk-form-icon" href="#" uk-icon="icon: search"></a>
                            <input class="uk-input" type="text" ng-model="search_keyword">
                        </div>
                    </div>
                </form>
            </header>

            <ul class="uk-list uk-list-divider item">
                <li ng-repeat="item in item_list"
                    ng-class="cur_tree === item ? 'active' : ''"
                    ng-click="set_cur_tree($event, item)"
                    ng-show="!!(search_keyword==''||item.name.match(search_keyword))">
                    {{ item.name }}
                </li>
            </ul>

            <footer class="uk-button-group uk-child-width-expand">
                <button class="uk-button sub-side-button uk-button-primary"
                        uk-tooltip="item config"
                        ng-click="open_config('item')"><span uk-icon="icon: cog"></span></button>
                <button class="uk-button sub-side-button uk-button-primary"
                        uk-tooltip="reset"
                        ng-click="refresh()"><span uk-icon="icon: refresh"></span>
                </button>
                <button class="uk-button sub-side-button uk-button-primary uk-width-1-2"
                        uk-tooltip="submit"
                ><span uk-icon="icon: bolt"></span> Submit
                </button>
            </footer>

        </div>

        <main class="main">

        </main>

        <div class="main block" ng-show="main_data_loading">
            <div uk-spinner="ratio: 2"></div>
        </div>

        <div id="global-tips-modal" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                <button class="uk-modal-close-default" type="button" uk-close></button>

                <h4 class="uk-heading-divider" ng-bind="global_tips_header"></h4>

                <div class="uk-modal-body">
                    <p ng-bind-html="global_tips_body"></p>
                </div>

            </div>
        </div>

        <div id="config-modal" class="uk-modal-container" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">

                <button class="uk-modal-close-default" type="button" uk-close></button>

                <h4 class="uk-heading-divider">Config</h4>

                <div class="uk-modal-body uk-grid-small uk-padding-remove" uk-grid>
                    <div class="uk-card uk-card-default uk-card-body uk-width-auto">
                        <ul id="config-switcher-tab" class="uk-tab-left"
                            uk-tab="connect: #config-switcher; animation: uk-animation-fade">
                            <li><a href="#">System Config</a></li>
                            <li><a href="#">Feature Config</a></li>
                            <li><a href="#">Item Config</a></li>
                        </ul>
                    </div>

                    <div class="uk-width-expand height-large" uk-overflow-auto>
                        <ul id="config-switcher" class="uk-switcher">
                            <li>
                                <form class="uk-form-horizontal">

                                    <div class="uk-card uk-card-default uk-card-body">
                                        <div class="uk-margin">
                                            <label class="uk-form-label">* key1</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" ng-model="user_config.key1" type="text" placeholder="key1">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-form-label">key2</div>
                                            <div class="uk-form-controls">
                                                <label><input class="uk-checkbox" type="checkbox"
                                                              ng-model="user_config.key2">
                                                    yes</label>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </li>

                            <li>
                                <form class="uk-form-horizontal">

                                    <div ng-repeat="feature in features.concat(new_feature_list)" class="uk-card uk-card-default uk-card-body">
                                        <div class="uk-margin">
                                            <label class="uk-form-label">* name</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" ng-model="feature.name" type="text" placeholder="name">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-form-label">disabled</div>
                                            <div class="uk-form-controls">
                                                <label><input class="uk-checkbox" ng-model="feature.disabled"
                                                              type="checkbox" name="branch-config-confirm-twice"> disabled</label>
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <button class="uk-button uk-button-danger"
                                                    ng-click="remove_feature_confirm($event, feature)">Remove
                                            </button>
                                            <button class="uk-button uk-button-primary" ng-show="feature.id===-1"
                                                    ng-click="save_add_feature($event, feature)">Save
                                            </button>
                                        </div>
                                    </div>

                                    <div class="uk-margin">
                                        <button class="uk-button uk-button-primary" ng-click="add_feature()">Add</button>
                                    </div>

                                </form>
                            </li>

                            <li>
                                <form class="uk-form-horizontal">

                                    <div ng-repeat="item in item_list.concat(new_tree_list) track by $index"
                                         class="uk-card uk-card-default uk-card-body">
                                        <div class="uk-margin">
                                            <label class="uk-form-label">* name</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" ng-model="item.name" type="text"
                                                       placeholder="name">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <button class="uk-button uk-button-danger"
                                                    ng-click="remove_tree_confirm($event, item, $index)">Remove
                                            </button>
                                            <button class="uk-button uk-button-primary" ng-show="item.id===-1"
                                                    ng-click="save_add_tree($event, item)">Save
                                            </button>
                                        </div>

                                    </div>

                                    <div class="uk-margin">
                                        <button class="uk-button uk-button-primary" ng-click="add_item()">Add</button>
                                    </div>

                                </form>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="button">Save</button>
                </div>

            </div>
        </div>

        <script>
          require('./renderer-process/app-demo')
        </script>
    </div>
</template>